<div>
{{#if error}}
    <h1>{{error}}</h1>
  {{/if}}
<h1>Please Sign In Here</h1><br><br><br>
<form action="/authenticate" method="get">
UserName:  <input type="text" id="username" name="username" placeholder="Enter your user name" required /><br><br><br>
Password:   <input type="password" id="password" name="password" placeholder="Enter your password " required /><br><br><br>
<input type="submit" value="Sign In"/>


</form><br><br>
<a href = "/registration">Sign Up</a>
<h1>This is Home page</h1>
<h3>Following are the available list of Pizza today</h3>
<table border="0">
<tr>
	<th>Name</th>
	<th>Toppings</th>
	<th>Price</th>
	<th>image</th>
</tr>
  {{#each pizza}}
  <tr>
 	<td><a href="/feature?id={{id}}">{{name}}</a></td>
  	<td>{{toppings}}</td>
  	<td>{{price}}</td>
  	<td>{{image}}</td>
  	</tr>
  {{/each}}
</table>
</div>