<h1>This is MyHhome page</h1>
<h3>Following are the available list of Pizza today</h3>
<table border="0">
<tr>
	<th>Name</th>
	<th>Toppings</th>
	<th>Price</th>
	<th>image</th>
</tr>
  {{#each pizza}}
  <tr>
 	<td><a href="/feature?id={{id}}">{{name}}</a></td>
  	<td>{{toppings}}</td>
  	<td>{{price}}</td>
  	<td>{{image}}</td>
  	</tr>
  {{/each}}
</table>